    /* FOOTER STYLING */

    .footer{
       
        position: relative;
        display: table;
        width: 100%;
        background-color: transparent;
     
  
      &__cell{
        padding:1rem 5rem;
        display: table-cell;
        width: 50%;
        vertical-align: middle;

        @include respond(phone){
        width: 100%;
                padding: 2rem 0;


        }

        &--left{
            text-align: left;

            @include respond(phone){
                display: none;

            }
      
          }

          &--right{
            text-align: right;

            @include respond(phone){
                text-align: center;

            }
      
      
          }
      }

     

    }
  
    
  
   
  
      /* SOCIAL MEIDA ICON STYLING */
  
    .fa {
    padding: 9px;
    font-size: 2rem;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    border: $color-primary 1px solid;
    transition: all .3s ease;
    background-color: rgba($color-primary, 1);
    
    
  

    &:hover {
        transform: translateY(-5px);
        color: white;
          text-decoration:none;
          background-color: rgba($color-primary-light, 1);
      
      }

      &-facebook {
        color: white;
        text-decoration:none;
      }

      &-twitter {
        color: white;
        text-decoration:none;
      }
      
      
      &-linkedin {
        color: white;
        text-decoration:none;
      }
      
      &-youtube {
        color: white;
        text-decoration:none;
      }
      
      &-instagram {
        color: white;
        text-decoration:none;
      }




  }
  
 
  
 
  
 
  