*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%; 
}


body{
    
    box-sizing: border-box;
    background-image: url('https://image.act.aipac.org/lib/fe8313727d6d027b73/m/2/7e442bd8-ef61-4636-9176-4b8ead92d923.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    transition: background-image .2s ease;



    // @media (max-width:56.25em){
    //     background-image:   linear-gradient(
    //         to left bottom, 
    //         rgba($color-primary, 0.2), rgba($color-primary-dark, 0.5)), url('https://image.act.aipac.org/lib/fe89137374600c7b7c/m/3/f6e0aea6-9453-4e13-a085-64c1769685d4.png');


    // }

}

.wrapper{
    max-width: 128rem; 
    margin: 0 auto;

}

// VIDYARD RESET

.header-logo-container{
    display: none !important;
  }

  .user-opacity{
    background-color: rgba(255, 255, 255, 0) !important;
    width: 100% !important;
    margin-top: 2rem !important;
    padding: 1rem !important;
  
  }

  #sharing-description .description-container{
    margin-bottom: 0 !important;
    padding-top: 0 !important;
  }
  
  body.light #sharing-description:not(.force-white){
    color: $color-primary !important;
    }
  
  #logo-container{
    display:none;
    }
  